<!-- ========== FOOTER ========== -->
<footer class="mt-auto">
  <div class="max-w-[96rem] w-full mx-auto text-sm p-4 md:py-6 lg:px-12 border-t space-y-6 md:space-y-12">
    <!-- Row -->
    <div class="grid grid-cols-12 gap-4 justify-between">
      <div class="col-span-6">
        &copy; <span id="copyright-year"></span> Технология скорости<br>
        Привезём автомобиль мечты без&nbsp;лишних хлопот
        <script>document.getElementById('copyright-year').innerText = new Date().getFullYear();</script>
      </div>

      <div class="col-span-6 text-end">
        Сделано в&nbsp;<a class="hover:text-primary hover:underline" href="https://artlog.ru" target="_blank">Артлог</a><br>
        с&nbsp;использованием <a class="hover:text-primary hover:underline" href="https://artlog.ru" target="_blank">Preline</a>
      </div>
    </div>
    <!-- End Row -->

    <ul class="sm:text-center text-sm text-muted md:w-2/3 mx-auto">
      <li class="block md:inline-block relative pe-8 last:pe-0 last-of-type:before:hidden before:hidden md:before:inline-block before:absolute before:top-1/2 before:end-3 before:-translate-y-1/2 before:size-1 before:bg-muted before:rounded-full">ООО «Технологии скорости»</li>
      <li class="block md:inline-block relative pe-8 last:pe-0 last-of-type:before:hidden before:hidden md:before:inline-block before:absolute before:top-1/2 before:end-3 before:-translate-y-1/2 before:size-1 before:bg-muted before:rounded-full">Шоу-рум: 420140 Казань, пр. Победы 91, 2 этаж (ТРЦ Южный)</li>
      <li class="block md:inline-block relative pe-8 last:pe-0 last-of-type:before:hidden before:hidden md:before:inline-block before:absolute before:top-1/2 before:end-3 before:-translate-y-1/2 before:size-1 before:bg-muted before:rounded-full">ИНН: 1684023407</li>
      <li class="block md:inline-block relative pe-8 last:pe-0 last-of-type:before:hidden before:hidden md:before:inline-block before:absolute before:top-1/2 before:end-3 before:-translate-y-1/2 before:size-1 before:bg-muted before:rounded-full">КПП: 168401001</li>
      <li class="block md:inline-block relative pe-8 last:pe-0 last-of-type:before:hidden before:hidden md:before:inline-block before:absolute before:top-1/2 before:end-3 before:-translate-y-1/2 before:size-1 before:bg-muted before:rounded-full">ОГРН: 1241600060283</li>
    </ul>
  </div>
</footer>
<!-- ========== END FOOTER ========== -->