<!-- ========== HEADER ========== -->
<header id="header" class="flex flex-wrap lg:justify-start lg:flex-nowrap z-50 w-full bg-white">
  <nav class="relative max-w-[96rem] w-full mx-auto lg:flex items-center lg:justify-between gap-8 py-4 px-4 lg:px-12">
    <div class="flex items-center gap-x-4">
      <!-- Logo -->
      <a class="rounded -mt-[6px] md:-mt-[10px]" href="https://технологияскорости.рф" aria-label="Ссылка на Технология скорости">
        <img class="w-auto h-10 lg:h-16" src="@@autopath/assets/img/speed-technology-logo.svg" alt="Технология скорости Лого">
      </a>
      <!-- End Logo -->
    </div>

    <div class="space-y-0.5 text-end">
      <a class="text-lg md:text-xl font-semibold hover:text-primary hover:underline" href="tel:88006009993">
        8-800-600-99-93
      </a>
      <!-- <div class="text-sm text-muted">Бесплатный звонок по России</div> -->
      <div class="text-sm text-muted">Номер телефона</div>
    </div>
  </nav>
</header>
<!-- ========== END HEADER ========== -->